html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container-principal{
    padding:25px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

legend.scheduler-border2 {
    font-size: 14px !important;
    font-weight: bold !important;
    text-align: left !important;
}

.cursor{
    cursor: pointer;
}

.navbar-inverse .navbar-brand{
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a{
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
    color: #fff;
    background-color: #A4A4A4 !important;
}

.encabezado-rojo{
    background-color:#EA6868;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.encabezado-verde{
    background-color:#90BF88;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.encabezado-amarillo{
    background-color:#F8A656;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.encabezado-cobertura{
    background-color:#FFBF00;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.fila-encabezado{
    height: 20px !important;
}

.mensaje-tabla{
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

.centrar{
    text-align: center;
    vertical-align: middle;
}

.justificar{
    text-align: justify;
}

.derecha{
    text-align: right;
}

.navbar-inverse{
    border-color: #0087c5;
    background-color: #0087c5;
}

.pad5{
    padding: 5px;
}

.margen1{
    margin: 2px;
}


.margen-etiqueta{
    padding-top: 25px;
}

.margen-remover{
    padding-top: 5px;
}

.f7{
    font-size: 7pt;
}

.f13{
    font-size: 13pt;
}

.f15{
    font-size: 15pt;
}





.form-group input[type="checkbox"][class="roles"]{
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}



@media screen and (max-width: 360px){
    .div-horas-criticas{
        padding-bottom: 25px;
    }

    #horas-criticas{
        position: relative;
        margin-top: -15px;
    }

    #titulo{
        font-size: 11pt;
        font-weight: bold;
    }
}


@media screen and (min-width: 361px) and (max-width: 980px){
    .div-horas-criticas{
        padding-bottom: 25px;
    }

    #horas-criticas{
        position: relative;
        margin-top: -15px;
    }

    #titulo{
        font-weight: bold;
    }
}


@media screen and (min-width: 981px) and (max-width: 1280px){
    .div-horas-criticas{
        padding-bottom: 25px;
    }

    #horas-criticas{
        position: relative;
        margin-top: 25px;
        margin-left: -30px;
        font-size: 9pt;
    }

    #titulo{
        font-weight: bold;
    }
}


@media screen and (min-width: 1281px) and (max-width: 1366px){
    .div-horas-criticas{
        padding-bottom: 25px;
    }

    #horas-criticas{
        position: relative;
        margin-top: 25px;
        margin-left: -30px;
        font-size: 10pt;
    }

    #titulo{
        font-weight: bold;
    }
}


@media screen and (min-width: 1367px){
    .div-horas-criticas{
        padding-bottom: 25px;
    }

    #horas-criticas{
        position: relative;
        margin-top: 25px;
        margin-left: -20px;
        /*font-size: 12pt;*/
    }

    #titulo{
        font-weight: bold;
    }
}


form div.required label.control-label:after {
    content:" * ";
    color:red;
}

.requerido{
    color: red;
    font-size: 13pt;
}

.ancho-total{
    width: 100%;
}

.ancho{
    border: solid;
}

.letra-roja{
    color:red;
}

.letra-verde{
    color:green;
}

.letra-amarilla{
    color: #F0AD4E;
}

.negrita{
    font-weight: bold;
}

.margen-top{
    margin-top: 5px;
}

.margen-bottom{
    margin-bottom: 5px;
}

.margen-top-10{
    margin-top: 10px;
}

.ancho-200{
    width:200px;
}

.ancho-modal{
    width: 80%;
}

.nd{
    text-decoration: none !important;
}

.black{
    color: black;
}

.black:hover{
    color: black;
}

.black:focus{
    color: black;
}

#tabla-convocatorias tr th{
    max-width: 100px;
    white-space: normal;
}


.alto-chosen{
    height: 32px !important;
}

#mensaje-asistencia{
    margin-top: -10px;
}

.icono-personal-asistente{
    width: 70px;
}

.celda-personal-asistente{
    vertical-align: top;
    padding-left: 15px;
    font-size: 10pt;
}

.remover-personal-asistente{
    position: absolute;
    top: 10px;
    right: 10px;
}

.oculto{
    display:none;
}


.mensaje-conectado{
    position: absolute;
    margin-left:25px;
}


.foto-trabajador-mc{
    width: 100px;
}





